.ctaBlock{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    h2{
        padding: 10px;
        padding-bottom: 20px;
    }
    button{
        padding: 0 14px;
        display: inline-block;
        height: 40px;
        border-radius: 4px;
        text-transform: uppercase;
        background-color: @button-color;
        color: white;
    }
    
}