nav{
  max-width: 1040px;  
  background-color: #F6F6F6;
  color: black;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  padding-bottom: 5px;
  padding-top: 10px;
  font-family: '@secondfont';

img{
 padding-right: 15px;
}
a{
text-decoration: none;
}
}