.splitDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    padding:15px;
    img{
        padding-bottom: 10px;
    }
    h3{
        padding-bottom: 5px;
    }
    img{
        height:28%;
        width: 28%;
    }
    p{
        text-align: center;
    }
    @media @mobile {
        width: 100%;
        padding-top: 10%;
        img {
            height: 10%;
            width: 10%;
        }
        
    }

}
.split{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    padding-top: 10%;
    @media @mobile {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding-top: 64%;
        padding-bottom: 15%;
    }
}