.splitDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    padding:15px;
    img{
        padding-bottom: 10px;
    }
    h3{
        padding-bottom: 5px;
    }
    img{
        height:28%;
        width: 28%;
    }
    p{
        text-align: center;
    }

}
.split{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between
}